@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: var(--font-inter), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  @apply lg:text-[4rem] leading-[1] -tracking-[0.03em] md:text-[2.75rem] text-[2rem] text-[#fff]
}


h2 {
  @apply text-[1.75rem] md:text-[2.75rem] lg:text-[4rem] -tracking-[0.04em] leading-[1.071] md:leading-[1] lg:leading-[.9375]
}

h3 {
  @apply text-[1.25rem] md:text-[2rem] lg:text-[3rem] -tracking-[0.03em] leading-[1]
}

h4 {
  @apply uppercase text-[0.75rem] lg:text-[0.875rem] font-normal
}

p {
  @apply text-[0.875rem] lg:text-[1.125rem] leading-[1.2] font-normal
}

.ivy-presto {
  @apply font-[family-name:var(--font-ivy-presto)] font-normal
}

.section {
  @apply bg-[#f5f5f5] h-full px-[1rem] py-[2.5rem] lg:py-[6.25rem]
}